<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PayrollSystem_DBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PayrollSystem_DB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="frmLogin.aspx" />
      </authentication>
      <authorization >
        <deny users="?" />        
      </authorization>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
